@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}


.container{
    display: grid;
    grid-template-areas: "top-bar top-bar" "menu content";
    height: 100vh;
    grid-template-columns: minmax(192px, 1fr) 8fr;
    grid-template-rows: 5% 95%;
}

.menu{
    display: grid;
    grid-area: menu;
    min-width: fit-content;
    grid-template-areas: "items" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
}

.content{
    display: flex;
    grid-area: content;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    color: var(--second-color);
}

.top-bar{
    display: flex;
    grid-area: top-bar;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    background-color: var(--third-color);
    color: var(--second-color);
}

.top-bar svg{
    width: 1.7em;
    fill: var(--second-color);
}

.top-bar svg:last-child{
    margin-left: auto;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: var(--third-color);
    border-radius: 6px;
    color: var(--second-color);
    padding-bottom: 0.5em;
}

.dashboard p{
    font-size: 1.5em;
    padding: 10px;
}

.dashboard-content{
    width: 99%;
    height: 95%;
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: var(--second-color);
}

.title{
    font-size: 1.5em;
    padding: 0 10px 0;
}

.paragraph{
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    color: var(--second-color);
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.paragraph p{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items{
    display: flex;
    background-color: var(--second-color);
    grid-area: items;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 0;
    overflow-y: scroll;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 5px;
    padding: 10px 10px;
    height: fit-content;
    background-color: var(--first-color);
    color: var(--second-color);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.item p{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-left{
    width: 0.7em;
    fill: var(--second-color);
}

.arrow-down{
    width: 1.1em;
    fill: var(--second-color);
}

.sub-item{
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 5px;
    padding: 10px 10px;
    height: fit-content;
    background-color: var(--first-color);
    color: var(--second-color);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.sub-item p{
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer{
    display: flex;
    grid-area: footer;
    align-items: center;
    background-color: var(--third-color);
    color: var(--second-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer p{
    width: 100%;
    font-size: 1em;
    text-align: center;
}