:root{
    --first-color: rgb(50, 50, 61);
    --second-color: rgb(190, 190, 190);
    --third-color: rgb(27, 27, 37);
    --fourth-color: rgb(101, 101, 112);
    --main-font: Roboto, "Ubuntu", Arial, sans-serif;
}