*{
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    background-color: antiquewhite;
    grid-template-areas: "title top-bar" "menu content";
    height: 100vh;
    grid-template-columns: 15% 85%;
    grid-template-rows: 5% 95%;
}

.menu{
    display: grid;
    grid-area: menu;
    background-color: rgb(181, 228, 255);
    grid-template-areas: "items" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 95%;
    border: 2px;
    border-color: rgb(106, 183, 228);
    border-style: solid;
}

.content{
    display: grid;
    grid-area: content;
    background-color: rgb(255, 238, 181);
    grid-template-areas: "top-bar" "dashboard";
    grid-template-rows: 100%;
    border: 2px;
    border-color: rgb(226, 198, 104);
    border-style: solid;
}

.top-bar{
    display: flex;
    grid-area: top-bar;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}

.dashboard{
    display: flex;
    grid-area: dashboard;
    border: 0px;
    border-top: 1px;
    border-color: rgb(226, 198, 104);
    border-style: solid;
}

.title{
    display: flex;
    grid-area: title;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.title p{
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.circle-button{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: rgb(167, 48, 48);
    border-radius: 15px;
    background-color: transparent;
    justify-self: center;
}

.items{
    display: grid;
    grid-area: items;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, 15%);
}

.item{
    display: flex;
    align-items: center;
    border: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(106, 183, 228);
    border-style: solid;
}

.item p{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.footer{
    display: flex;
    grid-area: footer;
    align-items: center;
    border: 0px;
    border-top: 1px;
    border-color: rgb(106, 183, 228);
    border-style: solid;
}

.footer p{
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}